.git
.gitignore
.venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.ruff_cache
.mypy_cache

.env
**/.env

docker/logs
logs
**/logs
**/latest

banking_dbt/target
banking_dbt/logs
dbt_packages

node_modules
dist
build

*.parquet
*.csv
*.tmp
*.log