banking_dbt:
  target: prod
  outputs:
    prod:
      type: snowflake
      account: "change-me-snowflake-account"
      user: "change-me-snowflake-user"
      password: "change-me-snowflake-password"
      role: "change-me-snowflake-role"
      database: "BANKING"
      warehouse: "COMPUTE_WH"
      schema: "ANALYTICS"
      threads: 4
      client_session_keep_alive: false
      query_tag: "banking_dbt_prod"
